.destination-listing .row{
    margin: auto;
}
.desti-lp-container{
    gap: 40px 0px;
}
.breadcrumb-item a{
    color: gray;
    font-weight: 500;
    font-size: 15px;
}
.desti-lp-destinations-heading{
    text-align: center;
    gap: 15px;
}
.desti-lp-destinations-heading p{
    font-size: 17px;
    font-weight: 500;
}
.desti-lp-destinations-col{
    flex-wrap: wrap;
    gap: 25px 15px;
}
.destilp-box-link{
    width: 19%;
    color: black;
    font-size: 15px;
}
.desti-lp-destinations-box{
    width: 100%;
    gap: 10px 0px;
}
.desti-lp-destinations-box img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    height: 250px;
}
.destilp-name{
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 1400px) {
    .desti-lp-destinations-col{
        gap: 25px 10px;
    }
    .destilp-banner-col img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}
@media screen and (max-width: 992px) {
    .destilp-box-link{
        width: 23%;
        font-size: 13px;
    }
    .desti-lp-destinations-heading p, .breadcrumb-item a{
        font-size: 15px;
    }
    .desti-lp-destinations-box img{
        height: 200px;
    }
    .desti-lp-container{
        gap: 25px 0px;
    }
}
@media screen and (max-width: 768px) {
    .destilp-box-link{
        width: 31%;
    }
    .destilp-detail{
        text-align: center;
    }
}
@media screen and (max-width: 576px) {
    .destilp-box-link{
        width: 48%;
    }
}