.customer-support .row{
    margin: auto;
}
.cust-support-tab{
    background-image: linear-gradient(to right,#ff7a48,#252b77);
    padding: 10px 0px;
}
.cust-support-tab .nav-tabs{
    border-bottom: none !important;
    gap: 15px;
}
.cust-support-tab .nav-tabs .nav-link{
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.cust-support-tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background: transparent;
    border: 0px;
    border-bottom: 1px solid white !important;
}
.cust-support-tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    background: transparent;
    border: 0px;
    border-bottom: 0px solid white !important;
}
.cs-content-headingbox{
    background: #f6f6fc;
    border-radius: 10px;
    text-align: center;
    gap: 15px;
    padding: 20px;
}
.cs-content-headingbox p, .cs-content-box p{
    font-size: 15px;
}
.cs-content-box strong{
    font-size: 17px;
}
.cs-content-box{
    border-radius: 10px;
    border: 2px solid lightgray;
    background: #f6f6fc;
    padding: 15px;
    height: 240px;
    gap: 10px;
    text-align: center;
    color: black;
}
.cs-content-white-img{
    display: none !important;
}
.cs-content-box:hover{
    background: #ff7a48;
    color: white;
}
.cs-content-box:hover .cs-content-white-img{
    display: flex !important;
}
.cs-content-box:hover .cs-content-black-img{
    display: none !important;
}

@media screen and (max-width: 768px) {
    .cust-support-tab .nav-tabs .nav-link, .cs-content-headingbox p, .cs-content-box p, .cust_query-section-box-heading p, .cust_query-section-box-form label, .cust_query-section-box-contact-box a, .cust_query-section-box-contact-box p{
        font-size: 13px;
    }
    .cs-content-box{
        height: 200px;
    }
    .cs-content-box img{
        height: 40px;
        width: auto;
    }
    .cust_query-section-box-contact-box img{
        height: 30px;
        width: auto;
    }
    .cust_query-section-col{
        padding: 15px 5px !important;
    }
}