.popup{
        margin: auto;
    }
    .popup-content-col p{
        text-align: center !important;
    }
    .popup-content-col{
        gap: 10px;
    }
    .popup-content-col strong{
        font-size: 20px;
    }
    .popup-content-col p{
        font-size: 15px;
        font-weight: 500;
    }
    .popup-content-col h4{
        color: #ff7a48;
        font-weight: 700;
        background: white;
        border: 3px solid lightgray;
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        text-align: center;
    }
    .popup-ul{
        background: #ff7a48;
        width: 100%;
        border-radius: 10px;
        padding: 15px  !important;
        gap: 10px 0px;
        flex-wrap: wrap;
    }
    .popup-ul li{
        width: 48%;
        text-align: left;
        font-size: 15px;
        list-style: none;
        font-weight: 500;
    }
    .popup-image{
        height: 200px;
        width: auto;
        object-fit: cover;
        border-radius: 20px;
    }
    .mfo-call{
        background: #ff7a48;
        gap: 10px;
        padding: 10px;
    }
    .modal-footer{
        padding: 0px !important;
    }
    .sticky-btm-content p{
        font-weight: 600;
        font-size: 14px;
    }
    .sticky-btm-content a{
        color: black;
        font-weight: 700;
        font-size: 20px;
    }
    .stky-btm{
        height: 70px;
        width: auto;
    }
    .popup-logo{
        height: 100px;
        width: auto;
    }